# Папка со скриптом
ScriptFolder="/mnt/storage/capture/.bin"
# Папка для записей
RecFolder="/mnt/storage/capture"
# Минимальный размер записанного файла. Если меньше - файл считается испорченным и удаляется
SizeLimit=$[10*1024*1024]
# Время в секундах, добавляемое к продолжительности записи
AddTime=40
